.controls {
  display: flex;
  justify-content: center;
}

.control-button {
  display: grid;
  place-content: center;
  cursor: pointer;
  width: calc(2rem + var(--space));
  height: calc(2rem + var(--space));
  border: 0;
  background: #fafafa;
  transition: background 250ms;
  outline: 0;
  color: #003545;
}

.control-button:hover {
  background: #c8c8c8;
}

.control-button:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.control-button:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.control-button > * {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
