html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: absolute;
  top: var(--space);
  right: var(--space);
  z-index: 2;
  display: grid;
  grid-gap: var(--space);
  pointer-events: none;
  grid: initial;
}

.sidebar .legend {
  grid-area: 1 / 3 / 5 / 5;
}

.sidebar .controls {
  grid-area: 2 / 1 / 3 / 3;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 75%);
  box-sizing: border-box;
  pointer-events: auto;
  color: var(--bg);
}

.attribution {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  font-size: 0.8em;
  padding: 2px 4px;
}
