html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: absolute;
  top: var(--space);
  right: var(--space);
  z-index: 2;
  display: grid;
  grid-gap: var(--space);
  grid-template-areas: "info theme controls legend";
  pointer-events: none;
}

@media (width >= 768px) {
  .sidebar {
    grid-template-areas:
      "legend"
      "controls"
      "theme"
      "info";
  }
}

.sidebar .legend {
  grid-area: legend;
  justify-self: flex-end;
}

.sidebar .controls {
  grid-area: controls;
  place-self: flex-start flex-end;
}

.sidebar .theme {
  grid-area: theme;
  place-self: baseline flex-end;
}

.sidebar .info {
  grid-area: info;
  place-self: baseline flex-end;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 75%);
  box-sizing: border-box;
  pointer-events: auto;
  color: var(--bg);
}

.attribution {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  font-size: 0.8em;
  padding: 2px 4px;
}
