.legend {
  margin-bottom: var(--space);
}

.legend__range:not(:last-child) {
  margin-bottom: calc(0.25 * var(--space));
}

.legend__range-square {
  width: var(--space);
  height: var(--space);
  margin-right: calc(0.5 * var(--space));
  display: inline-block;
}

