.legend {
  padding: calc(1 * var(--space));
  display: grid;
}

.legend__range {
  display: flex;
  align-items: center;
}

.legend__range:not(:last-child) {
  margin-bottom: calc(0.25 * var(--space));
}

.legend__range-square {
  width: 1rem;
  height: 1rem;
  margin-right: calc(0.5 * var(--space));
  display: inline-block;
}
