.legend {
  padding: calc(1 * var(--space));
  display: grid;
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.legend.hidden {
  transform: translateY(-80%);
}

@media (width >= 768px) {
  .legend.hidden {
    transform: none;
  }
}

.legend-range {
  display: flex;
  align-items: center;
  pointer-events: none;
  color: #000;
}

.legend-range:not(:last-child) {
  margin-bottom: calc(0.25 * var(--space));
}

.legend-range-square {
  width: 1rem;
  height: 1rem;
  margin-right: calc(0.5 * var(--space));
  display: inline-block;
}
