@import url("./layout.css");
@import url("./tooltip.css");
@import url("./legend.css");
@import url("./controls.css");

:root {
  --bg: #003545;
  --color: #f0f0f0;
  --space: 0.5rem;
  --heading: #e5e500;
}

:root[theme="light"] {
  --bg: #f0f0f0;
  --color: #003545;
  --heading: #003545;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f0f0f0;
    --color: #003545;
  }

  :root[theme="dark"] {
    --bg: #003545;
    --color: #f0f0f0;
  }
}
