.tooltip {
  opacity: 0;
  position: absolute;
  transition: opacity 250ms;
  z-index: 2;
  pointer-events: none;
  width: max-content;
}

.tooltip table {
  width: 100%;
  padding: var(--space);
}

.tooltip td {
  text-align: center;
}

.tooltip .current {
  font-weight: bold;
}
