.tooltip {
  opacity: 0;
  position: absolute;
  transition: opacity 250ms;
  z-index: 2;
  transform: translate(10%, -100%);
  pointer-events: none;
}

.tooltip table {
  width: 100%;
  padding: 0 var(--space);
}

.tooltip td {
  text-align: center;
}
